{{define "title"}}Bin-go{{end}}

{{define "head"}}
<script type="text/javascript">
  if (window["WebSocket"] && window["Turbo"]) {
    Turbo.connectStreamSource(new WebSocket(`wss://${window.location.host}/stats`));
  } else {
    console.warn("Turbo Streams over SSE not available");
  }
</script>
{{end}}

{{define "body"}}
<div class="uk-padding">
  <section class="uk-padding">
    <h1 class="uk-heading-small">Bingo Players</h1>
    <span id="stats">waiting...</span>
    <br/>

    <p>Enter fragaplooza ID to see your card</p>
    <form action="/card" method="GET" data-turbo="false">
      <input type="text" name="fpid" placeholder="fp id"/>
      <input type="submit" value="New Card"/>
    </form>
    
    <br/>
    <a href="/admin">Admin</a>
  </section>

</div>
{{end}}
